.vs
.vscode
Makefile
lde
lde.exe
old
getdate.c
getdate.h
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
Testing
crash_recovery/find_ext2_fs
crash_recovery/find_ext2_fs.exe
test/test-msvc.sh
src/lde_config.h
